
*{
  font-family:   "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 900;
  margin: 0%;
  padding: 0%;
}
nav {
  justify-content: center;
  align-items: center;
  flex: auto;
  background-color: #2c3e50;
    list-style-type: none;
    overflow: hidden;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin: 0;

  height: 108px;
  }
  ul{
    align-items: center;
    margin: 40px 0 ;
  }
  
  li {
    float: right;
    
  }
  ul h1{
    width: max-content;
    height: max-content;
    display: inline;
    color: #fff;
    text-align: center;
  }
  
  li {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #1abc9c;
    
  }
  a{
    color:#fff;
    text-decoration: dashed;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
  }
  
  .active {
    color: #fff;
    background-color: #1abc9c;
    height: fill;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
  }
  .active:hover{
    color: white;

  }
  #mainhead{
    

 text-transform: uppercase !important;
    text-decoration-line: none;
text-decoration-style: solid;
text-decoration-color: currentcolor;
text-decoration-thickness: auto;
    color:#fff;
    text-decoration: dashed;
    border-radius: 15px;
    transition: 0.3s;
  }
  
#main{
    display: flex ;
    width: 100%;
  background-color: #1abc9c;
    /* width: 100%; */
  margin-right: auto;
  margin-left: auto;
    height: 650px;
    justify-content: center;
    align-items: center ;   
}
#md-main{

  width: 300px;    
  justify-items: center;
  align-items: center !important;

}
#md-main h3{
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  
}

.item{
  background-color: purple;
  width: 20px;
  height: 20px;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: rgb(26, 188, 156);
  text-align: center;
}

.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adam {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.hero-section h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
  font-size: 3rem;
}

.section-2 h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: black;
  font-size: 2rem;
}

.line1{
  width: 100px;
  height: 4px;
  background-color: white;
  margin-top: 15px;
  margin-right: 15px;
}
.line2{
  width: 100px;
  height: 4px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: white;
}

.simvollar{
  display: flex;
  flex-direction: space-between;
  justify-content: center;
}

.ulduz{
  width: 20px;
  height: 20px;
  color: white;
  fill: white;
}


svg{
  width: 40px;
  height: 40px;
  color: #fff;
}

.hero-section h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
  font-size: 3rem;
}
.line1-1{
  width: 100px;
  height: 4px;
  background-color:#2c3e50;
  margin-top: 15px;
  margin-right: 15px;
}
.line2-1{
  width: 100px;
  height: 4px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #2c3e50;
}

.grid{
  /* width: 100%; */
  display: block;
  flex-wrap:wrap;

  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: rgba(255, 0, 0, 0);
}

.row1{
  margin: 15px;
  width: 1560px;
  height: 350px;
  background-color:rgba(255, 0, 0, 0);
  display: flex;
  /* flex-wrap:wrap; */
  align-items: center;
  justify-content: center;
}

.row2{
  margin: 15px;

  /* flex-wrap:wrap; */

  width: 1560px;
  height: 350px;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item{
  flex-wrap:wrap;

  border-radius: 10px;
  background-color: purple;
  width: 100%;
  height: 100%;
  margin: 0px 7.5px;  
}
h6{
  margin-top: 20px;
}

.section-3{
  background-color: #1abc9c;
}
.section-3 h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
  font-size: 2rem;
}

.line3-1{
  width: 100px;
  height: 4px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: white;
}
.line3-2{
  width: 100px;
  height: 4px;
  background-color: white;
  margin-top: 15px;
  margin-right: 15px;
}