body{
  margin: 0%;
  padding: 0%;
}
nav {
  justify-content: center;
  align-items: center;
  flex: auto;
  background-color: #2c3e50;
    list-style-type: none;
    overflow: hidden;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin: 0;

  height: 108px;
  }
  ul{
    align-items: center;
    margin: 40px 0 ;
  }
  
  li {
    float: right;
    
  }
  ul h1{
    width: max-content;
    height: max-content;
    display: inline;
    color: #fff;
    text-align: center;
  }
  
  li {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #1abc9c;
    
  }
  a{
    color:#fff;
    text-decoration: dashed;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
  }
  
  .active {
    color: #fff;
    background-color: #1abc9c;
    height: fill;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
  }
  .active:hover{
    color: white;

  }
  #mainhead{
    
 font-family:   "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 900;
 text-transform: uppercase !important;
    text-decoration-line: none;
text-decoration-style: solid;
text-decoration-color: currentcolor;
text-decoration-thickness: auto;
    color:#fff;
    text-decoration: dashed;
    border-radius: 15px;
    transition: 0.3s;
  }
  
#main{
    display: flex ;
    width: 100%;
  background-color: #1abc9c;
    /* width: 100%; */
  margin-right: auto;
  margin-left: auto;
    height: 650px;
    justify-content: center;
    align-items: center ;   
}
#md-main{

  width: 300px;    
  justify-items: center;
  align-items: center !important;

}
#md-main h3{
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  
}